jaxtyping==0.2.33
beartype==0.18.5
cog==0.9.13
numpy==2.0.1
lightning[pytorch-extra]==2.3.3
einops==0.8.0
wandb==0.17.5
datasets==2.20.0
matplotlib==3.9.1

# https://github.com/replicate/cog/blob/d160cc29de9e6eea4932be3a8e3276819feff875/pkg/config/torch_compatibility_matrix.json#L18
--find-links https://download.pytorch.org/whl/cu118
torch==2.3.1
torchvision==0.18.1
